.container{
    
    font-size: medium;
    position: absolute;
   right: 10px;
   top:100px;

   
width: 300px;
    height: auto;
    max-height: 90vh;
    z-index: 2;
}
.message{
    margin: 5px;
  
    
}
