# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.angular/
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

src/assets/img/homepage/carusel-images - Fullsize just copy/i1.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i2.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i3.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i4.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i5.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i6.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i7.jpg
src/assets/img/homepage/carusel-images - Fullsize just copy/i8.jpg
src/assets/img/homepage/projects-images/FutureGreenTech.jpg
src/assets/img/homepage/projects-images/QuoPic.jpg
src/assets/img/homepage/projects-images/QuoPic3.jpg
src/assets/img/homepage/projects-images - Fullsize just copy/FutureGreenTech.jpg
src/assets/img/homepage/projects-images - Fullsize just copy/QuoPic.jpg
src/assets/img/homepage/projects-images - Fullsize just copy/QuoPic3.jpg
