<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="side-nav-toolbar-spacer" matTooltip="Esc key to hide menu" #tooltip="matTooltip">

      <span class="side-nav-toolbar-spacer"></span>
      <button mat-icon-button (click)="toogleUserLogin()" matTooltip="Sign In" #tooltip="matTooltip" type="button"
        aria-label="Sign In" aria-tooltip="Open Login page">
        <mat-icon aria-label="Home icon">home</mat-icon>
      </button>

      <span class="side-nav-toolbar-spacer"></span>
      <button class="menu-item2" mat-button class="tooltips-button" matTooltip="Show / hide all tooltip"
        #tooltip="matTooltip" (mousemove)="show = false" (click)="showAllTooltips()">
        Tooltips
        
      </button>
      <span class="side-nav-toolbar-spacer"></span>
      <app-theme-switch [options]="options$ | async" (themeChange)="themeChangeHandler($event)"
        matTooltip="Change theme" aria-tooltip="Aria description" #tooltip="matTooltip" type="button"
        aria-label="Change theme">
      </app-theme-switch>
      <span class="side-nav-toolbar-spacer"></span>


    </mat-toolbar>



    <mat-nav-list class="menu-list-item">
      <a mat-list-item class="menu-item" #tooltip="matTooltip" matTooltip="Welcome header" routerLinkActive="active"
        aria-tooltip="Navigatate do Welcome page" (click)="buttonClick('welcome')" aria-tooltip="Welcome header">
        <mat-icon>feed</mat-icon><span class="side-nav-toolbar-spacer"></span>Welcome
      </a>

      <a mat-list-item class="menu-item" #tooltip="matTooltip" matTooltip="Read short authors biography"
        routerLinkActive="active" (click)="buttonClick('bio')" aria-tooltip="Short author biography">
        <mat-icon>perm_identity</mat-icon><span class="side-nav-but-spacer"></span>Bio
      </a>

      <a mat-list-item class="menu-item" #tooltip="matTooltip" matTooltip="Explore my projects"
        routerLinkActive="active" (click)="buttonClick('projects')" aria-tooltip="Visit and explore my projects">
        <mat-icon><span class="material-icons"> dashboard </span></mat-icon><span
          class="side-nav-but-spacer"></span>Projects
      </a>

      <a mat-list-item class="menu-item"
        matTooltip="Read more in-depth information about the author of this code portfolio" routerLinkActive="active"
        (click)="buttonClick('about')" #tooltip="matTooltip" aria-tooltip="About me slideshow">
        <mat-icon>subject</mat-icon><span class="side-nav-but-spacer"></span>About me
      </a>

      <a mat-list-item class="menu-item" matTooltip="Send me an e-mail" routerLinkActive="active"
        (click)="buttonClick('contact')" #tooltip="matTooltip" aria-tooltip="Send me an email">
        <mat-icon>email</mat-icon><span class="side-nav-but-spacer"></span>Contact
      </a>

      <a mat-list-item class="menu-item" matTooltip="Visit my GitHub page" #tooltip="matTooltip"
        aria-tooltip="Link to my Github profile page" href="https://github.com/khq1" target="_blank"><img
          src="assets/img/homepage/github-circle-black-transparent.svg" alt="Github" class="menu-github-logo" /><span
          class="side-nav-but-spacer"></span>GitHub
      </a>

      <a mat-list-item class="menu-item" matTooltip="LinkedIn" #tooltip="matTooltip" aria-tooltip="LinkedIn Profile "
        href="https://www.linkedin.com/in/khq" target="_blank"><img src="assets/img/homepage/in.png" alt="LinkedIn"
          class="menu-docs-logo" /><span class="side-nav-but-spacer"></span>LinkedIn
      </a>
      <a mat-list-item class="menu-item" matTooltip="Compodoc documentation for Portfolio-App" #tooltip="matTooltip"
        aria-tooltip="Documentation by Compodoc" href="assets/Docs/Compodoc/index.html" target="_blank"><img
          src="assets/Docs/Compodoc/compodoc-vectorise-inverted.png" alt="Compodoc" class="menu-docs-logo" /><span
          class="side-nav-but-spacer"></span>Compodoc Docs
      </a>

      <a mat-list-item class="menu-item" matTooltip="Typedoc documentation for Portfolio-App" #tooltip="matTooltip"
        aria-tooltip="Documentation by Typedoc" href="assets/Docs/Typedoc/index.html" target="_blank"><img
          src="assets/Docs/Typedoc/typedoc.png" alt="Typdedoc" class="menu-docs-logo" /><span
          class="side-nav-but-spacer"></span>Typedoc Docs</a>

    </mat-nav-list>

    <hr mat-divider>
    <div>



    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar id="welcome" color="primary">
      <button matTooltip="Toggle sidenav menu" #tooltip="matTooltip" type="button" aria-label="Toggle sidenav menu"
        mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Jan's Code:</span>
      <span class="side-nav-toolbar-spacer"></span>
      <app-counter-data matTooltip="Date" #tooltip="matTooltip" class="toolbar-date">
      </app-counter-data>
      <app-messages></app-messages>
    </mat-toolbar>

    <ng-content></ng-content>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>