@use '@angular/material' as mat;

body{max-height: 100%;
overflow-y: hidden;

}

.sidenav-container {
 height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  font-size: 28px;
    font-weight: bold;
    line-height: 28px;    
  background: inherit;
  
}

.mat-toolbar.mat-primary {
  font-size: 5.5vw;
    font-weight: bold;
    height: 11%;
  position: static;
  top: 0;
  z-index: 1;
    }




.menu-list-item{

  font-size: 26px;
    font-weight: 300;
    line-height: 28px;
    margin: 4px;
    
}
.menu-item{
margin: 15px 0;
@include mat.elevation(2);
    :hover {
    @include mat.elevation(4);
  }
}
.menu-item2{


@include mat.elevation(2);
    :hover {
    @include mat.elevation(4);
  }
}


.side-nav-toolbar-spacer {
  flex: 1 1 auto;
}
.side-nav-but-spacer{
  flex: 1 1 auto;
}
.toolbar-date{
  font-size: 2vw; 
  line-height: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-github-logo{
   mix-blend-mode: difference;
   filter:invert(1);
   transform: scale(1.2);
   color:white;
   
   
}

 


.tooltips-button{
  width: fit-content;
  margin: 10px;
  @include mat.elevation(2);
    :hover {
    @include mat.elevation(4);
  }
}

.menu-docs-logo{
  width:24px;
  height: 24px;
}


