<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

      Menu</mat-toolbar>
    <mat-nav-list class="menu-list-item">
      <a mat-list-item href="#">
        <mat-icon>face</mat-icon><span class="side-nav-toolbar-spacer"></span>Welcome
      </a>
      <a mat-list-item href="#">
        <mat-icon>perm_identity</mat-icon><span class="side-nav-but-spacer"></span>About Me
      </a>
      <a mat-list-item href="#"><img src="../../../assets/img/homepage/github-circle-black-transparent.svg" alt="angular"
          class="docs-angular-logo"><span class="side-nav-but-spacer"></span>GitHub</a>
          <a mat-list-item href="#">
            <mat-icon>subject</mat-icon><span class="side-nav-but-spacer"></span>Fundament
          </a>
          <a mat-list-item href="#">
            <mat-icon> email</mat-icon><span class="side-nav-but-spacer"></span>Contact
          </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Jan's Code:</span>
      
     
      <span class="side-nav-toolbar-spacer"></span>
      <app-counter-data class="toolbar-date"></app-counter-data>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar>
    <app-messages></app-messages>
  <!-- Add Content Here -->
  <ng-content #ngcontent></ng-content>
  </mat-sidenav-content>


</mat-sidenav-container>
