<header  class="docs-header-background"
    aria-label="Get started" id="homepage-header">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">Jan Warzecha</h1>
            <h2>Portfolio programisty</h2>
        </div>
        <div class="docs-header-start">
            <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Zaczynamy!</a>
        </div>
    </div>
</header>


    <app-ngb-carusel></app-ngb-carusel>

<div class=".docs-homepage-promo">
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/heroes">Heroes</a>
    </nav>  
</div>


