<div cdkDropListGroup  class="grid-container">
  <mat-grid-list cdkDropList
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped()" cols="2" rowHeight="350px">
    <mat-grid-tile cdkDropList class="grid-tile" *ngFor="let card of cards | async" [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped()" [colspan]="card.colspan" [rowspan]="card.rowspan"
      [title]="card.title" subtitle="card.subtitle" img_url="card.img_url" gh_url="card.gh_url"
      gh_pages_url="card.gh_pages_url" description="card.description">
      <div mat-card cdkDrag
      class="example-box"
      (cdkDragMoved)="dragMoved($event)"
      (click)="onClick($event)" tabindex="0" class="dashboard-card"  #tooltip="matTooltip" matTooltip=" {{card.title}} project card"
      >
        <mat-card-header>{{card}}
        
        
          <mat-card-title class="card-title">
            {{card.title}}
            <button mat-icon-button class="more-button" #tooltip="matTooltip" matTooltip="more"
              [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-card (click)="OnExpand()" class="toggle_expand_button">Expand</button>
              <button mat-menu-card (click)="toggleExpanded()" class="toggle_expand_button">
                {{expanded ? 'Expand' : 'Collapse'}}
                
              </button>
              <button mat-menu-card #tooltip="matTooltip"
                matTooltip="Read more about {{card.title}} project">More</button>

              <a mat-menu-card href="{{card.gh_url}}" target="_blank" #tooltip="matTooltip"
                matTooltip="Github page">Github</a>
              <a mat-menu-card href="{{card.gh_pages_url}}" target="_blank" #tooltip="matTooltip"
                matTooltip="Visit project website">Visit</a>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-subtitle">{{card.subtitle}}</div>
          <img mat-card-s-image [src]="card.img_url" class="img_project">
          <div class="card-description">{{card.description}}</div>
          <mat-card-actions class="button-group">
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>