
<ngb-carousel #carousel  [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators"  [interval]="3333" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
            <h3>My slide {{i + 1}} title</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img [src]="img" alt="Random slide" style="width: 100%;"></div>
            <div class="carousel-caption">
            <h3>No mouse navigation</h3>
            <p>This carousel hides navigation arrows and indicators.</p>
        </div>
    </ng-template>
</ngb-carousel>

<hr>
<div class="btn-group" aria-label="Carousel toggle controls">
    <button mat-raised-button (click)="togglePaused()">
        {{paused ? 'Cycle' : 'Pause' }}
    </button>
    <button mat-raised-button (click)="showNavigationArrows = !showNavigationArrows"
        >Toggle navigation arrows</button>
    <button mat-raised-button (click)="showNavigationIndicators = !showNavigationIndicators"
        >Toggle navigation indicators</button>
    
        
    <mat-checkbox [(ngModel)]="pauseOnHover">Pause on hover
    </mat-checkbox>

    <mat-checkbox id="pauseOnFocus" [(ngModel)]="pauseOnFocus">
    Pause on focus
    </mat-checkbox>

    <mat-checkbox id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
    Unpause when clicking on arrows
    </mat-checkbox>

    <mat-checkbox id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
    Pause when clicking on navigation indicator
    </mat-checkbox>
    
</div>