.img-wrapper {
  width: 84vw;
  height: 74vh;
  margin: auto auto;
}
.img_slide {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
}

.carousel-caption {
  white-space: pre-line; 

  color: white;
  position: absolute;
  transform: translateY(0%);
  height: auto;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.button-group {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1em;
  row-gap: 1em;
  align-content: center;
  justify-content: space-around;
  max-width: 100%;
}
.cycle_pause_button {
  width: auto;
  min-width: max-content;
}
.slide-controls-panel {
  width: inherit;
}

.button-group-panel {
  min-height: 10%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 1em;
  column-gap: 1em;
  align-content: center;
  justify-content: space-around;
  @media (min-width: 800px) {
    max-width: 50vw;
  }
  .interval-right-align {
    text-align: center;

    font-weight: 600;
  }

  input.interval-right-align::-webkit-outer-spin-button,
  input.interval-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.interval-right-align {
    -moz-appearance: textfield;
  }
}
