<h1 mat-dialog-title>Sign In</h1>
<div mat-dialog-content>Select your title, Enter name and select country</div>


<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input type="text" matInput [formControl]="titleForm" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.title}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
<mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Name</mat-label>
    <input type="text"  matInput>
</mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">        <mat-label>Country</mat-label>
        <input matInput aria-label="Country" [matAutocomplete]="auto1" [formControl]="countryForm">
        <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                <img class="example-option-img" aria-hidden [src]="country.flag | safeHtml" height="25">
                <span>{{country.name}}</span> 
                
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>