<h1 mat-dialog-title>Sign In</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>


<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Assignee</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>State</mat-label>
        <input matInput aria-label="State" [matAutocomplete]="auto1" [formControl]="stateCtrl">
        <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                <span>{{state.name}}</span> |
                
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>